@import 'src/assets/scss/base';

header {
  height: 60px;
  padding: 10px 50px;
  @include shadow-header();

  .logo {
    font-size: 2rem;
    color: $base-color;
  }

  .log-out {
    display: flex;

    mat-form-field {
      width: 50px;
      margin-right: 50px;
    }
    ::ng-deep
    .mat-form-field-wrapper {
      padding-bottom: 20px;
    }
    ::ng-deep
    .mat-form-field-infix {
      padding-top: 0;
    }

    a {
      color: $base-grey;
    }
  }
}
