<div class="content-block">
  <form [formGroup]="editRoleForm" (ngSubmit)="onSubmit()">
    <h1 class="display-5 title">{{ 'editRole' | translate }}</h1>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>{{ 'name' | translate }}</mat-label>
        <input type="email" matInput formControlName="name">
        <mat-error *ngIf="editRoleForm.controls.name.invalid">
          {{ 'nameValidation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <mat-form-field appearance="legacy">
        <mat-label>{{ 'status' | translate }}</mat-label>
        <mat-select matNativeControl formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.key">{{status.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-line">
      <button mat-raised-button color="primary" [disabled]="!editRoleForm.valid">{{ 'submit' | translate }}</button>
    </div>
  </form>
</div>
