<div fxLayout="row" *ngIf="user">
  <div class="content-block info">
    <h1 class="display-5 title">{{ 'userInformation' | translate }}</h1>
    <mat-card>
      <mat-card-title>{{ 'id' | translate }}</mat-card-title>
      <mat-card-subtitle>{{user._id}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>{{ 'email' | translate }}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>{{ 'status' | translate }}</mat-card-title>
      <mat-card-subtitle>{{user.status}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>{{ 'role' | translate }}</mat-card-title>
      <mat-card-subtitle>{{user.role.name}}</mat-card-subtitle>
    </mat-card>
      <button mat-raised-button color="primary" class="btn-edit" [routerLink]="['/cabinet/users/edit/' + user._id]">{{ 'edit' | translate }}</button>
      <button mat-raised-button color="primary" class="btn-change-password" [routerLink]="['/cabinet/users/change-password/' + user._id]">{{ 'changePassword' | translate }}</button>
      <button mat-raised-button color="warn" class="btn-delete" (click)="removeUser(user._id)">{{ 'delete' | translate }}</button>
  </div>
  <div class="content-block social">
    <h1 class="title">{{ 'socialNetworks' | translate }}</h1>
    <ng-container *ngIf="user.socials.length;else no_data">
      <mat-card *ngFor="let social of user.socials">
        <h3 ngClass="{{social.provider | lowercase}}">{{social.provider}}</h3>
        <img src="{{social.photoUrl}}" />
        <mat-card-subtitle>{{social.id}}</mat-card-subtitle>
        <mat-card-subtitle>{{social.email}}</mat-card-subtitle>
        <mat-card-subtitle>{{social.firstName}}</mat-card-subtitle>
        <mat-card-subtitle>{{social.lastName}}</mat-card-subtitle>
        <button mat-raised-button color="warn" class="unbind" (click)="unbindSocial(user._id, social.id)">{{ 'unbind' | translate }}</button>
      </mat-card>
    </ng-container>
    <ng-template #no_data>{{ 'notEntries' | translate }}</ng-template>
  </div>
</div>
