<div class="main">
  <div class="name">User CRM</div>
  <div class="login-block" *ngIf="!isBlock;else blocked">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="title">Login</h1>
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="loginForm.controls.email.invalid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="loginForm.controls.password.invalid">
          Please enter a password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>

    <div class="social">
      <img src="/assets/images/facebook.svg" (click)="loginFacebook()" title="Facebook"/>
      <img src="/assets/images/google.svg" (click)="loginGoogle()" title="Google"/>
    </div>
  </div>
  <ng-template #blocked>
    <div class="blocked">
      User was blocked on 5 minutes!
    </div>
  </ng-template>
</div>
