<div class="content-block">
  <form [formGroup]="changePasswordUserForm" (ngSubmit)="onSubmit()">
    <h1 class="display-5 title">{{ 'changePassword' | translate }}</h1>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>{{ 'password' | translate }}</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="changePasswordUserForm.controls.password.invalid">
          {{ 'passwordValidation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordUserForm.controls.confirmPassword.errors?.['required']">
          {{ 'passwordValidation' | translate }}
        </mat-error>
        <mat-error *ngIf="changePasswordUserForm.controls.confirmPassword.errors?.['notSame']">
          {{ 'passwordDontMatch' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <button mat-raised-button color="primary" [disabled]="!changePasswordUserForm.valid">{{ 'submit' | translate }}</button>
    </div>
  </form>
</div>

