<div fxLayout="row" *ngIf="role">
  <div class="content-block info">
    <h1 class="display-5 title">{{ 'roleInformation' | translate }}</h1>
    <mat-card>
      <mat-card-title>{{ 'id' | translate }}</mat-card-title>
      <mat-card-subtitle>{{role._id}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>{{ 'name' | translate }}</mat-card-title>
      <mat-card-subtitle>{{role.name}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>{{ 'status' | translate }}</mat-card-title>
      <mat-card-subtitle>{{role.status}}</mat-card-subtitle>
    </mat-card>
    <button mat-raised-button color="primary" class="btn-edit" [routerLink]="['/cabinet/roles/edit/' + role._id]">{{ 'edit' | translate }}</button>
    <button mat-raised-button color="warn" class="btn-delete" (click)="removeRole(role._id)">{{ 'delete' | translate }}</button>
  </div>
</div>
