@import 'src/assets/scss/base';

.content-block {
  @include content-block();

  .title {
    @include title(2rem, 20px);
  }

  .form-line {
    width: 100%;
    mat-form-field {
      width: 30%;
      margin-bottom: 20px;
    }
  }
}

